@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: #0f172a; */
  cursor: none !important;
  user-select: none;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* 전체 컨테이너 */
.Wrap {
  display: flex;
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0f172a;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* 마우스를 따라다니는 원 */
.cursor-circle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  /* 중앙 정렬 */
  transition: top 0.05s, left 0.05s;
}

/* 원 크기 및 투명도 */
.circle-5 {
  width: 20px;
  height: 20px;
  background-color: rgba(43, 221, 215, 0.3);
  opacity: 0.7;
}

/* 왼쪽 패널 (고정 영역) */
.left-panel {
  width: 45%;
  background-color: #0f172a;
  color: white;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .light-toggle {
  position: absolute;
  top: 74px;
  right: 80px;
  background: none;
  border: 2px solid #8b9dbb;
  border-radius: 8px;
  color: #8b9dbb;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000;
} */

/* .light-toggle:hover{
  background-color: #00ffff;
} */

.title-img {
  width: 70%;
  perspective: 1000px;
  position: relative;
  top: 30px;
}
.title-inner {
  width: 100%;
  height: auto;
  min-height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  will-change: transform;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  /* border: #00ffff 1px solid; */
}

.title-inner.flip {
  transform: rotateY(180deg);
}

.title-img:hover .title-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  transform: translateZ(0);
  contain: layout paint;
}

.front {
  z-index: 2;
  color: #d9e2ef;
}

.back {
  transform: rotateY(180deg) translateZ(0); /* 뒤집힌 상태 준비 */
  z-index: 1;
  color: white;
}

.back > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.left-panel h1 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #d9e2ef;
}

.left-panel h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #8b9dbb;
}

.left-panel p {
  font-size: 30px;
  color: #8b9dbb;
}

.left-panel p:nth-child(4) {
  margin-left: 12px;
}

.left-panel nav {
  margin-top: 0px;
}

.left-panel ul {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}

.left-panel li {
  position: relative;
  margin-bottom: 20px;
}

.left-panel > nav > ul > li:nth-child(3) {
  margin-bottom: 0;
}

.left-panel li span {
  color: #8b9dbb;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  z-index: 3;
}

.left-panel li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  transform: translateY(-50%);
  width: 70px;
  height: 2px;
  background-color: #8b9dbb;
  z-index: 1;
}

.left-panel li span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 130px;
  transform: translateY(-50%);
  width: 0;
  height: 2px;
  background-color: #2bddd7;
  transition: width 0.5s ease-in-out;
  z-index: 2;
}

.left-panel li span:hover {
  color: #2bddd7;
  text-shadow: 0 0 10px #2bddd7;
}

.left-panel li span:hover::before {
  width: 70px;
}

.info li {
  color: #2bddd7;
  font-size: 18px;
}

.left-panel nav ul li {
  cursor: pointer;
  transition: 0.3s;
}

.left-panel nav ul li.active span {
  color: #2bddd7;
}

.left-panel nav ul li.active span::before {
  width: 70px;
}

/* Info */
.info li:nth-child(odd) {
  margin: 0 0 0 0;
}

.info li:nth-child(even) {
  margin: 0 0 10px 0;
}

.info li::after {
  display: none;
}

.info li::before {
  display: none;
}

/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
/* 오른쪽 패널 (스크롤 영역) */
.right-panel {
  width: 70%;
  height: 100vh;
  overflow-y: scroll;
  /* background: #acb0b8; */
  background: #0f172a;
  padding: 20px 40px;
  box-sizing: border-box;

  /* 스크롤바 숨기기 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.right-panel::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.title {
  margin: 50px 0 80px 0;
}

.title p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #177975;
  text-align: center;
  /* text-shadow:
    0 0 5px #2bddd7,
    0 0 8px #2bddd7,
    0 0 10px #2bddd7,
    0 0 30px #00ffff,
    0 0 40px #00ffff; */
  animation: flicker 4s infinite;
}

.title p:nth-child(2) {
  font-size: 30px;
  font-weight: bold;
  /*   color: #2bddd7;/ */
  color: #177975;
  text-align: center;
  /* text-shadow:
    0 0 5px #2bddd7,
    0 0 8px #2bddd7,
    0 0 10px #2bddd7,
    0 0 30px #00ffff,
    0 0 40px #00ffff; */
  animation: flicker 4s infinite;
  margin-bottom: 30px;
  background: transparent;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    opacity: 1;
    text-shadow: 0 0 5px #2bddd7, 0 0 8px #2bddd7, 0 0 10px #2bddd7,
      0 0 30px #00ffff, 0 0 40px #00ffff;
  }

  20%,
  24%,
  55% {
    opacity: 0.6;
    text-shadow: 0 0 3px #2bddd7, 0 0 5px #00ffff, 0 0 7px #00ffff;
  }
}

.title p {
  font-size: 30px;
  color: #8b9dbb;
  text-align: center;
}

.cursor {
  display: inline-block;
  width: 0ch;
  animation: blink 2s step-start infinite;
  color: #2bddd7;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.education {
  width: 627px;
  height: 390px;
  margin: 0 auto;
  /* border: 1px solid #2bddd7; */
}

.education .edu-bar1 {
  width: 627px;
  height: 3px;
  background-color: #d9e2ef;
}

.education .edu-bar2 {
  width: 627px;
  height: 3px;
  margin-top: 10px;
  background-color: #d9e2ef;
}

.education .edu-bar3 {
  width: 627px;
  height: 3px;
  margin-top: 10px;
  background-color: #d9e2ef;
}

.edu-title {
  font-weight: bold;
}

.education p {
  color: #8b9dbb;
  font-size: 30px;
  line-height: 45px;
}

/* =======================
   Toggle Box (Skill Section)
   ======================= */
.skill {
  margin-top: 150px;
}

.toggle-box {
  width: 95%;
  height: 120px;
  display: flex;
  overflow: hidden;
  border: 1px solid #8b9dbb;
  border-radius: 12px;
  transition: height 0.5s ease;
  margin-bottom: 20px;
  background-color: #0f172a;
}

.toggle-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #2bddd7;
  transition: 0.3s ease;
  scale: 1.02;
}

/* 열릴 때 높이 확장 */
.toggle-box.open {
  height: 170px;
}

/* 이미지 영역 */
.image-area {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.image-area img {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  object-fit: cover;
}

/* 텍스트 영역 */
.text-area {
  width: 527px;
  margin-left: 10px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-title {
  font-size: 30px;
  color: #8b9dbb;
  margin: 0;
}

.arrow-btn {
  background: none;
  border: none;
  color: #8b9dbb;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* 열릴 때 화살표 회전 */
.toggle-box.open .arrow-btn {
  transform: rotate(180deg);
}

/* 상세 내용 (열림 애니메이션) */
.skill-detail {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.4s ease;
}

.toggle-box.open .skill-detail {
  max-height: 300px;
  opacity: 1;
  /* background-color: #2bddd7; */
}

.skill-detail p {
  font-size: 15px;
  color: #bfc9e4;
  line-height: 1.4;
  margin: 5px 0;
}

/* Project */
/* Project */
/* Project */
/* Project */
/* Project */
.Project {
  margin-top: 200px;
}

/* 제네시스 */
.pro-genesis {
  width: 95%;
  height: 300px;
  display: flex;
  border: 2px solid #8b9dbb;
  border-radius: 7px;
  margin-bottom: 70px;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(43, 221, 215, 0.3);
}
.pro-genesis:hover {
  box-shadow: 0 0 15px #2bddd7;
  transition: 0.5s ease-in-out;
}

/* 안양시청 */
.pro-anyang {
  width: 95%;
  height: 320px;
  display: flex;
  overflow: hidden;
  border: 2px solid #8b9dbb;
  border-radius: 7px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(43, 221, 215, 0.3);
  transition: 0.5s ease-in-out;
}

.pro-anyang:hover {
  height: 440px;
  box-shadow: 0 0 15px #2bddd7;
  transition: 0.5s ease-in-out;
}

.link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 330px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3개씩 가로 정렬 */
  gap: 5px 20px; /* 요소 간 간격 */
  text-align: center;
}
.link a {
  text-decoration: none !important;
}
.link p {
  width: 150px;
  font-size: 15px !important;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 3px 0;
  border-radius: 8px;
  background-color: #8b9dbb;
  color: #0f172a !important;
  font-weight: bold;
  text-decoration: none;
}
.link p:hover {
  color: #00ffff !important;
  transition: 0.8s;
}

/* 시리즈업 */
.pro-series {
  width: 95%;
  height: 340px;
  display: flex;
  overflow: hidden;
  border: 2px solid #8b9dbb;
  border-radius: 7px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(43, 221, 215, 0.3);
  transition: 0.5s ease-in-out;
}

.pro-series:hover {
  height: 430px;
  box-shadow: 0 0 15px #2bddd7;
}

/* .project-textbox>h3{
  color: #2bddd7;
  margin: 10px 0 5px 0;
} */

.pro-series .link p {
  /* font-size: 20px; */
  margin-top: 13px;
  margin-bottom: 0px;
  font-weight: bold;
}

/* Sourvenir */
.pro-sourve {
  width: 95%;
  height: 340px;
  display: flex;
  border: 2px solid #8b9dbb;
  border-radius: 7px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(43, 221, 215, 0.3);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.pro-sourve:hover {
  height: 430px;
  box-shadow: 0 0 15px #2bddd7;
  transition: 0.5s ease-in-out;
}

.pro-sourve .link p {
  margin-top: 12px;
}

/* little-Farmer */
.pro-little {
  width: 95%;
  height: 300px;
  display: flex;
  border: 2px solid #8b9dbb;
  border-radius: 7px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid rgba(43, 221, 215, 0.3);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.pro-little:hover {
  height: 480px;
  box-shadow: 0 0 15px #2bddd7;
  transition: 0.5s ease-in-out;
}

.pro-little .link p {
  margin-top: 12px;
}
.project-textbox > a {
  width: 70px;
  text-align: center;
  border-radius: 8px;
  background-color: #8b9dbb;
  float: left;
  text-decoration: none;
  padding: 0 10px;
  margin-left: 20px;
}

.project-textbox > a >p{
  color: #0f172a !important;
  font-weight: bold;
}
.project-textbox > a:hover > p{
  color: #00ffff !important;
  transition: 0.3s ease-in-out;
}

.pro-series > .project-imgbox:nth-child(1) {
  display: flex;
  width: 130px;
  height: 258px;
  margin-top: 20px;
  margin-left: 17px;
  overflow: hidden;
  position: relative;
}

.pro-series > .project-imgbox:nth-child(2) {
  display: flex;
  width: 130px;
  height: 253px;
  margin-top: 20px;
  margin-left: 0px;
  overflow: hidden;
  position: relative;
}

/* 시리즈업 */
.pro-series > .project-imgbox > a > .project-series-log {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 3s ease;
}

.pro-series > .project-imgbox > a > .project-series-full {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 10px;
  transition: top 5s ease;
}

.pro-series > .project-imgbox:hover .project-series-full {
  top: -1120px;
}

.project-imgbox {
  width: 255px;
  height: 258px;
  margin-top: 20px;
  margin-left: 17px;
  overflow: hidden;
  position: relative;
}

/* 제네시스 */
.pro-genesis img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 4s ease;
}

/* 안양시청 */
.pro-anyang img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 2s ease;
}

/* Sourvenir */
.pro-sourve img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 2s ease;
}

/* LittleFarmer */
.pro-little img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 2s ease;
}

.pro-anyang > .project-imgbox:hover img {
  top: -140px;
}

.project-imgbox:hover img {
  top: -750px;
}

.pro-sourve > .project-imgbox:hover img {
  top: -330px;
}

.pro-little > .project-imgbox:hover img {
  top: -630px;
}

.project-textbox {
  width: 390px;
  height: 200px;
  margin-top: 20px;
  margin-left: 26px;
  /* background-color: #2bddd7; */
}

.project-textbox h2 {
  font-size: 20px;
  font-weight: bold;
  color: #2bddd7;
  margin-bottom: 5px;
  display: flex;
}

.project-textbox h2 > p {
  margin: 10px 0 0 10px;
}

.project-textbox p {
  font-size: 18px;
  line-height: 22px;
  color: #8b9dbb;
}

.project-skill {
  margin-top: 10px;
  display: flex;
}

.project-skill > div {
  width: 100px;
  height: 20px;
  font-size: 18x;
  padding-top: 0px;
  padding-bottom: 3px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  border-radius: 7px;
  background-color: #8b9dbb;
  margin-bottom: 7px;
}

.pro-series > .project-textbox > .project-skill {
  display: flex;
  margin-top: 5px;
}

.pro-sourve > .project-textbox > .project-skill {
  display: flex;
  margin-top: 5px;
}

.pro-little > .project-textbox > .project-skill {
  display: flex;
  margin-top: 0px;
}

/* Skill:Hover */
/* Skill:Hover */
/* Skill:Hover */
.project-skill > div:hover {
  color: #2bddd7;
  transition: 0.5s ease-in-out;
}

.pro-anyang > .project-textbox > .project-skill {
  margin-top: 0px;
}

/* Skill:Hover */
/* Skill:Hover */
/* Skill:Hover */

/* Top Button */
.top-btn {
  position: fixed;
  bottom: 40px;
  right: 60px;
  background-color: #2bddd7;
  color: #0f172a;
  border: none;
  border-radius: 50px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
  z-index: 9999;
}

.top-btn:hover {
  /* transform: translateY(-3px); */
  scale: 1.1;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

/* 라이트모드용 */
.top-btn.light {
  background-color: #a55b2a;
  color: #fffdfb;
  box-shadow: 0 4px 8px rgba(120, 84, 50, 0.4);
}

/* Footer */
/* Footer */
/* Footer */
/* Footer */
/* Footer */
/* Footer */
footer {
  display: flex;
  margin-bottom: 60px;
}
footer p {
  font-size: 16px;
  color: #2bddd7;
  margin-right: 20px;
}

footer p:nth-child(3) {
  margin-right: 0;
}

/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
/* 반응형 대응 */
@media (max-width: 1440px) {
  .left-panel {
    width: 25%;
    scale: 0.9;
    margin-top: -40px;
    z-index: 10;
  }
  .left-panel .title-img {
    margin-top: -15px;
  }
  .light-toggle {
    top: 30px;
    padding-left: 100px;
    /* left: 271px; */
  }

  .profile-area {
    width: 500px;
  }

  /* 우측 */
  .right-panel {
    margin-top: -40px;
    margin-right: 100px;
    padding: 20px 0;
    scale: 0.9;
  }
}
