@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");

.intro-container {
  position: fixed;
  inset: 0;
  background: #0f172a;
  color: #d9e2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

.intro-container img{
  position: relative;
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.intro-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.intro-title {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  animation: fadeIn 1s ease forwards;
}

.intro-sub {
  font-size: 1.2rem;
  opacity: 0.8;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
